---
import aqualert from '../assets/aqualert new.svg';
import psymed from '../assets/psymed new.svg';
import hikeUS from '../assets/hikeUS.svg';
import mapa from '../assets/mapa.svg';
import webprog from '../assets/webprog.svg';

---
<section class="projects">
    <div class="projects__title">
        <h3 class="projects__size">
            projects.
        </h3>
    </div>

    <div class="projects__container">
        
        <div class="projects__proj">
            <div class="projects__image">
                <img src={aqualert.src} alt="">
            </div>
            <div class="projects__flexDetails">
                <h3 class="projects__projTitle">Aqualert</h3>

                <div class="projects__role">
                        <p class="roleSize">
                            Frontend Developer
                        </p>

                        <p class="roleSize">
                            ReactJS - Mantine UI - Firebase
                        </p>
                </div>

                <p> A software project developed in Software Engineering course. Aqualert is a water utility supply complaint management system.</p>

            </div>
        </div>

        <div class="projects__proj">
            <div class="projects__image">
                <img src={psymed.src} alt="">
            </div>
            <div class="projects__flexDetails">
                <h3 class="projects__projTitle">PSYMed</h3>

                <div class="projects__role">
                        <p class="roleSize">
                            Frontend Developer
                        </p>

                        <p class="roleSize">
                            HTML - CSS - JavaScript - FastAPI
                        </p>
                </div>

                <p> A software developed for Thesis 1 and 2. PSYMed is a web application that detects panic attack precursors using a CNN-based Facial Expression Recognition.</p>

            </div>
        </div>

        <div class="projects__proj">
            <div class="projects__image">
                <img src={hikeUS.src} alt="">
            </div>
            <div class="projects__flexDetails">
                <h3 class="projects__projTitle">HikeUs - Case Study</h3>

                <div class="projects__role">
                        <p class="roleSize">
                            UI/UX
                        </p>

                        <p class="roleSize">
                            Figma
                        </p>
                </div>

                <p> Created a case study focusing on the design and usability of HikeUs, a hiking app tailored for users who likes to go on hikes.</p>

            </div>
        </div>

        <div class="projects__proj">
            <div class="projects__image">
                <img src={mapa.src} alt="">
            </div>
            <div class="projects__flexDetails">
                <h3 class="projects__projTitle">MAPA - UI/UX Case Study </h3>

                <div class="projects__role">
                        <p class="roleSize">
                            UI/UX
                        </p>

                        <p class="roleSize">
                            Figma
                        </p>
                </div>

                <p> Mobile Automatic Pamasahe (MAPA) is a final project in Human Computer Interaction (HCI). MAPA is a mobile application for modern fare collection system that resembles the functionality of a T-money card. </p>

            </div>
        </div>

            
        <div class="projects__proj">
            <div class="projects__image">
                <img src={webprog.src} alt="">
            </div>
            <div class="projects__flexDetails">
                <h3 class="projects__projTitle">Web Prog Portfolio</h3>

                <div class="projects__role">
                        <p class="roleSize">
                                Frontend Developer
                        </p>

                        <p class="roleSize">
                                HTML - CSS - JavaScript
                        </p>
                </div>

                <p> This portfolio is a project requirement for our Web Programming course back in 2nd year. All of the projects inside is the starting point where I learned HTML, CSS, JavaScript, and web design.</p>

            </div>
        </div>    
        
       
    </div>

</section>